# Python
__pycache__/
.pytest_cache/
htmlcov
*.pyc
.coverage


# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data (IMPORTANT)
*.csv
*.xlsx

# Logs
*.log

*.png
*.txt