# Python
__pycache__/
.pytest_cache/
htmlcov
*.pyc
.coverage
.png

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data (IMPORTANT)
data/
*.csv
*.xlsx
.txt

# Models
*.pkl
*.joblib
*.h5

# Logs
*.log
